<div class="master">
  <div class="container">
    <div class="content">
      <div class="up">
        <h1 [ngClass]="{'transizione': tran}">hello</h1>
        <h1 [ngClass]="{'transizione': tran}">I'm Gianni</h1>
      </div>
      <div class="down">
        <h4 [ngClass]="{'transizione2': tran2}">Scopri chi sono</h4>
      </div>

      <div class="pie">
        <h5 [ngClass]="{'transizione3': tran3}">ViolinJoy</h5>
      </div>
    </div>
  </div>

  <div class="container2" [class.show-container2]="showContainer2">
    <!-- Il tuo contenuto -->
  </div>



</div>

<div class="blocco"></div>