
*{
  overflow: hidden;
}


.container{
  width: 100%;
  margin-top: 20px;
  /* background-color: rgba(0, 255, 255, 0.534); */
}

.content{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;

}

.up{
  width: 100%;
  /* background-color: rgba(255, 0, 0, 0.199); */
}


h1{
  text-align: right;
    font-size: 13vw;
    font-weight: 700;
    line-height: 1;
    color: #111111;
    font-family: Manrope, sans-serif;
}



.down{
  width: 100%;
  /* background-color: rgba(187, 0, 0, 0.151); */
  margin-top: 50px;
}

h4{
  font-size: 3vw;
  font-weight: 700;
  color: #111111;
  font-family: Manrope, sans-serif;
}


.pie{
  width: 100%;
  text-align: right;
  font-size: 3vw;
  font-weight: 700;
  font-family: Manrope, sans-serif;
  color: #111111;
  margin-top: 20px;

  /* background-color: rgba(255, 0, 0, 0.123); */
}

h1, h4, h5{
  transform: rotateX(90deg) skew(5deg, 0deg) rotateY(1deg);
  opacity: 0;
}

.transizione {
  transition: all 1s ease-in-out;
  opacity: 1;
  transform: rotateX(0deg) skew(0deg, 0deg) rotateY(0deg);
}


.transizione2 {
  transition: all 0.8s ease-in-out;
  opacity: 1;
  transform: rotateX(0deg) skew(0deg, 0deg) rotateY(0deg);
}

.transizione3 {
  transition: all 0.8s ease-in-out;
  opacity: 1;
  transform: rotateX(0deg) skew(0deg, 0deg) rotateY(0deg);
}




.master {
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-width: 100%;

}



/* NEW PAGE */


.container2 {
  width: 100%;
  height: 130vh;
  background-color: rgb(255, 255, 255);
  transform: translateX(100%);
  transition: transform 0.65s cubic-bezier(.57,.51,.67,.8); /* Aggiungi una transizione */
  position: absolute; /* Imposta il position a fixed per far sì che il container2 rimanga visibile durante lo scrolling */
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.8%;
}

.show-container2 {
  transform: translateX(0%);
}




.divisione{
  width: 95%;
  height: 95%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;

}


.sx{
  width: 45%;
  height: 70%;
  margin-top: 90px;
  box-shadow: 20px 20px 8px -15px #97979712;
  border: 1px solid #00000014;
}

.foto{
  width: 100%;
  height: 70%;
  /* background-color: aliceblue; */
}

.foto img{
  width: 100%;
  height: 100%;
}

.info{
  width: 100%;
  height: 30%;
  /* background-color: bisque; */
}

.info h3{
  font-family: Manrope, sans-serif;
  font-size: 4vw;
  font-weight: 500;
  color: black;
}

.info p{
  font-family: 'Jost', sans-serif;
  font-size: 2vw;
  font-weight: 500;
  color: #000000bd;
}



.dx{
  width: 45%;
  height: 90%;
  margin-top: 90px;
  box-shadow: -15px -2px 14px -11px #00000046;
  /* background-color: rgb(0, 255, 85); */
}









.blocco{
  width: 100%;
  height: 5vh;
  background-color: aliceblue;
  transform: translateY(10%);
  margin: auto;
}


