


.container{
  width: 95%;
  margin: auto;
  height: 90vh;
  /* background-color: rgba(255, 0, 0, 0.089); */
  margin-top: 22%;
  display: flex;
  justify-content: space-around;

}


.sx{
  width: 31%;
  height: 80%;
  align-self: start;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.4s ease-in-out;
}


.sx img{
  width: 100%;
  height: 100%;
}


.show-opacity1 {
  opacity: 1;
}



.dx{
  width: 40%;
  height: 75%;
  align-self: flex-end;
  box-shadow: -20px -19px 16px -15px #9797971f;
  border: 1px solid #00000014;


  opacity: 0;
  transition: opacity 2s ease-in-out;
}


.show-opacity2 {
  opacity: 1;
}




.up{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
}

.up h2{
  font-family: Manrope, sans-serif;
  font-size: 4vw;
  font-weight: 500;
  color: black;
}


.up img{
  transform: rotate(315deg);
    scale: 0.5;
    opacity: 1;
}


.up img:hover{
  transition: all 0.5s ease-in-out;
  opacity: 0;
  scale: 0;
}




.down{
  width: 100%;
  height: 80%;
  background-color: rgb(0, 153, 153);
  overflow: hidden;
}

.down img{
  max-height: 100%;

}



/* RESPONSIVE */



@media (max-width: 1285px){
  .container{
    margin-top: 35%;
  }
  .sx{
    width: 410px;

  }

  .dx{
    width: 380px;
  }

}


@media (max-width: 1000px){

.container{
  margin-top: 30px;
}


}


@media (max-width: 900px){
  .sx{
    width: 350px;
    height: 440px;
  }
  .dx{
    width: 370px;
    height: 460px;
  }
}


@media (max-width: 790px){
  .sx{
    width: 320px;
    height: 410px;
  }
  .dx{
    width: 320px;
    height: 440px;
  }
}


@media (max-width: 750px){
  .container{
    width: 90%;
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: initial;
  }

  .dx{
    width: 100%;
    margin-bottom: 30px;
  }

  .dx .down > img{
    width: 100%;
    height: 100%;
  }

  .up{
    font-family: Manrope, sans-serif;
    font-weight: 500;
    color: black;
  }


  .up h2{
    font-size: 6vw;
    position: relative;
    margin: auto;
    left: 4%;
  }


  .sx{
    width: 77%;
    height: 50%;
    margin: auto;
  }

}
