.container{
  width: 100%;
  background-color: #fafafa;
  display: flex;
  column-gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 0px;

}




.card {
  width: 500px;
  height: 370px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.card:nth-child(3){
  width: 600px;
  height: 470px;
}

.card:nth-child(4){
  width: 600px;
  height: 470px;
}






.card-inner {
  width: 90%;
  height: 75%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}






.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #d62976;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #da2375;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #F08A5D;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #F08A5D;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}
