<div class="container">
  <div class="up ">
    <img src="../../assets/wave4Nera.svg" alt="">
  </div>
  <div class="down">
    <h1>CHI SONO</h1>
    <div class="boxInfo">
      <p>
        Sono un giovane e appassionato violinista originario di Augusta, una pittoresca cittadina in Sicilia, e ho avuto
        il privilegio di laurearmi al Conservatorio di Catania. A soli 27 anni, ho già intrapreso un emozionante
        percorso nel mondo della musica classica e ho anche abbracciato la mia vocazione di insegnante.

        La mia vita è dedicata al violino, uno strumento che ho amato sin dalla più tenera età. Durante le calde serate
        estive, la mia musica fluisce attraverso le corde del violino, regalando note magiche all'aria intorno a me.
        Spesso vengo chiamato per partecipare a eventi speciali, dove il mio violino si trasforma in un incantesimo
        sonoro, creando un'atmosfera unica e coinvolgente.

        Nel mio ruolo di professore, cerco di ispirare e condividere la mia passione con gli studenti, guidandoli nella
        scoperta della bellezza della musica classica e aiutandoli a sviluppare le loro abilità artistiche.
      </p>
    </div>
  </div>
</div>
<div class="waveSotto">
  <img src="../../assets/wave2Sotto.svg" alt="">
</div>