.container{
  width: 100%;

  background-color: rgb(0, 0, 0);
  overflow-y: hidden;
}


.up{
  width: 100%;
  height: 25vh;
  background-color: rgb(255, 255, 255);
  overflow-y: hidden;

}

.up img{
  max-width: 100%;
}


.down{
  width: 90%;
  height: 80%;
  background-color: rgb(0, 0, 0);
}


.down h1{
  color: #f3f3f3;
  font-family: 'Jost', sans-serif;
  font-size: 8vw;
  margin: 6% 0px 20px 6%;
  font-weight: 800;
}


.boxInfo{
  width: 85%;
  padding: 30px 10px;
  /* background-color: antiquewhite; */
  margin-left: 6%;
}


.boxInfo p{
  color: #ededed;
  font-family: 'Jost', sans-serif;
  font-size: 1.3vw;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 2px;
}




.waveSotto{
  width: 100%;
  height: 35vh;
  background-color: #fafafa;
  overflow-y: hidden;
  position: relative;
}

.waveSotto img{
  max-width: 100%;
}


.waveSotto h1{
  position: absolute;
  top: 7%;
  left: 0%;
  font-family: 'Jost', sans-serif;
  font-size: 10vw;
  letter-spacing: 8px;
}








/* Barra della scrollbar */
::-webkit-scrollbar {
  width: 10px;
  position: relative;
}

/* Maniglia della scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 30px;
}

/* Fondo della scrollbar */
::-webkit-scrollbar-track {
  background-color: #353535;
  border-radius: 30px;
}




/* RESPONSIVE */

@media (max-width:1100px){
  .boxInfo p{
    font-size: 2.3vw;
  }

  .up img{
    max-width: initial;


  }

}


@media (max-width:850px){
  .up img{
    max-width: initial;
  }
}



@media (max-width:700px){
  .boxInfo p{
    font-size: 30px;
  }

  .waveSotto h1{
    font-size: 13vw;
    top: 19%;
  }

  .waveSotto{
    height: 15vh;
  }

}


@media (max-width:500px){

  .down h1{
    font-size: 13vw;
  }


  .boxInfo p{
    font-size: 25px;
  }
}

